asgiref==3.2.10
certifi==2018.10.15
chardet==3.0.4
Click==7.0
cycler==0.10.0
decorator==4.4.2
Django==3.1
django-filter==2.3.0
djangorestframework==3.11.1
face-recognition-models==0.3.0
Flask==1.0.3
Flask-Session==0.3.1
gunicorn==19.9.0
idna==2.7
itsdangerous==1.1.0
Jinja2==2.10.1
kiwisolver @ file:///tmp/build/80754af9/kiwisolver_1612282420641/work
Markdown==3.2.2
MarkupSafe==1.0
matplotlib @ file:///tmp/build/80754af9/matplotlib-suite_1613407855456/work
mkl-fft==1.3.0
mkl-random @ file:///tmp/build/80754af9/mkl_random_1618853849286/work
mkl-service==2.3.0
networkx==2.5.1
numpy @ file:///tmp/build/80754af9/numpy_and_numpy_base_1618497241363/work
olefile==0.44
pigar==0.10.0
Pillow @ file:///tmp/build/80754af9/pillow_1617383569452/work
psycopg2-binary==2.8.6
pyparsing @ file:///home/linux1/recipes/ci/pyparsing_1610983426697/work
python-dateutil @ file:///home/ktietz/src/ci/python-dateutil_1611928101742/work
pytz==2020.1
requests==2.20.0
scikit-fuzzy==0.4.2
scipy==1.6.3
sip==4.19.13
six @ file:///tmp/build/80754af9/six_1605205327372/work
SQLAlchemy==1.3.6
sqlparse==0.3.1
tk==0.1.0
torch==1.8.1
torchvision==0.9.1
tornado @ file:///tmp/build/80754af9/tornado_1606942300299/work
typing-extensions @ file:///home/ktietz/src/ci_mi/typing_extensions_1612808209620/work
urllib3==1.24.2
Werkzeug==0.15.5
